@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/Montserrat/static/Montserrat-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/Montserrat/static/Montserrat-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/Montserrat/static/Montserrat-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/Montserrat/static/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/Montserrat/static/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
