@import 'base/default';
@import 'base/fonts';
@import 'base/normalize';
@import 'base/typography';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;

    &:before,
    &:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

html {
    line-height: 1.3;
    box-sizing: border-box;
    color: #000;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    scroll-behavior: smooth;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
